In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_key import gkey

In [2]:
# Load the csv exported in Part I to a DataFrame
weather_data_csv = pd.read_csv('../WeatherPy/weather_data.csv')

weather_data_csv.head()

,Unnamed: 0,City,Max_Temp,Humidity,Cloudiness,Wind_Speed,Latitude,Longitude
0,0,Sibu,30.00,74,40,2.06,2.3000,111.8167
1,1,Āgaro,16.16,98,100,0.42,7.8500,36.6500
2,2,Vitim,2.08,98,100,4.72,59.4511,112.5578
3,3,East London,19.77,46,86,4.13,-33.0153,27.9116
4,4,Jamestown,1.11,86,40,4.63,42.0970,-79.2353

In [3]:
# Humidity Heat Map
# Configure gmaps.
# Use the Lat and Lng as locations and Humidity as the weight.
# Add Heatmap layer to map.

In [4]:
# create locations data frame for heat map; use latitude and longitude
locations_df = weather_data_csv[['Latitude','Longitude']]
locations_df.head()

   Latitude  Longitude
0    2.3000   111.8167
1    7.8500    36.6500
2   59.4511   112.5578
3  -33.0153    27.9116
4   42.0970   -79.2353

In [5]:
# create weight data frame for heat map; use Humidity
weight_df = weather_data_csv['Humidity']
weight_df.head()

0    74
1    98
2    98
3    46
4    86
Name: Humidity, dtype: int64

In [6]:
# plot heatmap
map_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}

# Use the gmaps.figure passing a zoom_level of 2 and a center point so the map displays properly at a readable size
fig = gmaps.figure(layout=map_layout,zoom_level=2,center=(15,25))
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations_df, weights=weight_df, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.5)

# Add heat layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [7]:
# Narrow down the DataFrame to find your ideal weather condition:
# A max temperature lower than 5 degrees but higher than -5.
# Wind speed less than 5 mph.
# <20 cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
chosen_weather_conditions_df = weather_data_csv[(weather_data_csv['Max_Temp'] <= 20) & (weather_data_csv['Max_Temp'] >= 10)]
chosen_weather_conditions_df = chosen_weather_conditions_df[chosen_weather_conditions_df['Wind_Speed'] <= 5]
chosen_weather_conditions_df = chosen_weather_conditions_df[chosen_weather_conditions_df['Cloudiness'] <= 20]
chosen_weather_conditions_df = chosen_weather_conditions_df[chosen_weather_conditions_df['Humidity'] <= 50]
chosen_weather_conditions_df.head()

,Unnamed: 0,City,Max_Temp,Humidity,Cloudiness,Wind_Speed,Latitude,Longitude
24,24,Bethel,13.0,50,1,2.06,41.3712,-73.4140
27,27,Sitka,13.0,47,1,2.57,57.0531,-135.3300
44,44,San Juan,18.0,46,0,2.11,-31.5375,-68.5364
66,66,Broken Hill,20.0,42,0,3.60,-31.9500,141.4333
84,84,Walla Walla,14.0,35,1,2.57,46.0646,-118.3430

In [19]:
# Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates
hotel_df = chosen_weather_conditions_df.loc[:, ["City", "Latitude", "Longitude"]]

hotel_df["Hotel Name"] = ""
hotel_df.head()

           City  Latitude  Longitude Hotel Name
24       Bethel   41.3712   -73.4140
27        Sitka   57.0531  -135.3300
44     San Juan  -31.5375   -68.5364
66  Broken Hill  -31.9500   141.4333
84  Walla Walla   46.0646  -118.3430

In [18]:
### worked through the with AskBCS  on this and we could not get it to bring the hotels across.

# places_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# params = {
#     "type": "lodging",  
#     "radius": 5000,
#     "gkey": gkey}

# for index, row in hotels.iterrows():
#     #get the latitude, longitude and city for each row
#     lati = row["Latitude"]
#     longi = row["Longitude"]
#     city_name = row["City"]
    
#     #add latitude and longitude to "coodinates" and add to params to use in google places call
#     params["coordinates"] = f"{lati},{longi}"
    
#     #call the hotel query, and print retrieval progress
#     print(f"Retrieving results for {city_name}")
#     response = requests.get(places_url, params=params).json()
# #     results = response['results']
   
#     try:
#         print(f"The closest hotel to {city_name} is {results[0]['name']}")
# #         hotels.loc[index, "Hotel Name"] = results[0]['name']
#         hotels.loc[index,"Hotel Name"] = response["results"][0]["name"]
#     except (KeyError, IndexError):
#         print(f"Closest hotel to {city_name} exceeds 5000 metres")

Retrieving results for Bethel
Closest hotel to Bethel exceeds 5000 metres
Retrieving results for Sitka
Closest hotel to Sitka exceeds 5000 metres
Retrieving results for San Juan
Closest hotel to San Juan exceeds 5000 metres
Retrieving results for Broken Hill
Closest hotel to Broken Hill exceeds 5000 metres
Retrieving results for Walla Walla
Closest hotel to Walla Walla exceeds 5000 metres
Retrieving results for Joshīmath
Closest hotel to Joshīmath exceeds 5000 metres
Retrieving results for Fairbanks
Closest hotel to Fairbanks exceeds 5000 metres
Retrieving results for Katsuura
Closest hotel to Katsuura exceeds 5000 metres
Retrieving results for Muroto-misakicho
Closest hotel to Muroto-misakicho exceeds 5000 metres
Retrieving results for College
Closest hotel to College exceeds 5000 metres
Retrieving results for Petra
Closest hotel to Petra exceeds 5000 metres
Retrieving results for Terrace
Closest hotel to Terrace exceeds 5000 metres
Retrieving results for Union
Closest hotel to Union exceeds 5000 metres
Retrieving results for North Platte
Closest hotel to North Platte exceeds 5000 metres
Retrieving results for Ketchikan
Closest hotel to Ketchikan exceeds 5000 metres
Retrieving results for Ol'ga
Closest hotel to Ol'ga exceeds 5000 metres
Retrieving results for Haines Junction
Closest hotel to Haines Junction exceeds 5000 metres
Retrieving results for Wasilla
Closest hotel to Wasilla exceeds 5000 metres
Retrieving results for Swan Hill
Closest hotel to Swan Hill exceeds 5000 metres
Retrieving results for Shache
Closest hotel to Shache exceeds 5000 metres

In [15]:
# Plot the hotels on top of the humidity heatmap with each pin containing the Hotel Name, City, and Country.
# hotels

                 City  Latitude  Longitude Hotel Name
24             Bethel   41.3712   -73.4140
27              Sitka   57.0531  -135.3300
44           San Juan  -31.5375   -68.5364
66        Broken Hill  -31.9500   141.4333
84        Walla Walla   46.0646  -118.3430
104         Joshīmath   30.5667    79.5667
173         Fairbanks   64.8378  -147.7164
207          Katsuura   35.1333   140.3000
231  Muroto-misakicho   33.2833   134.1500
244           College   64.8569  -147.8028
329             Petra   30.3222    35.4793
331           Terrace   54.5163  -128.6035
337             Union   40.6334   -74.2663
350      North Platte   41.1239  -100.7654
369         Ketchikan   55.3422  -131.6461
370             Ol'ga   43.7444   135.2892
388   Haines Junction   60.7522  -137.5108
416           Wasilla   61.5814  -149.4394
539         Swan Hill  -35.3378   143.5544
550            Shache   38.4167    77.2406

In [21]:
params = {
   "radius": 5000,
   "type": "lodging",
   "key": gkey
}
# 6b. Iterate through the hotel DataFrame
for index, row in hotel_df.iterrows():
   # get lat, lng from df
   lat = row["Latitude"]
   lng = row["Longitude"]
   
   # 6c. Get latitude and longitude from DataFrame.
   params["location"] = f"{lat},{lng}"
   
   # 6d. Set up the base URL for the Google Directions API to get JSON data.
   base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   # 6e. Make request and retrieve the JSON data from the search.
   hotels = requests.get(base_url, params=params).json()
   
   # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
   try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
   except (IndexError):
       print("Hotel not found... skipping.")

In [22]:
hotel_df

,City,Latitude,Longitude,Hotel Name
24,Bethel,41.3712,-73.4140,Courtyard by Marriott Danbury
27,Sitka,57.0531,-135.3300,Westmark Sitka
44,San Juan,-31.5375,-68.5364,Hotel Provincial
66,Broken Hill,-31.9500,141.4333,Royal Exchange Hotel
84,Walla Walla,46.0646,-118.3430,Holiday Inn Express Walla Walla
104,Joshīmath,30.5667,79.5667,Shivalik Camps & Resort
173,Fairbanks,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
207,Katsuura,35.1333,140.3000,Katsuura Hotel Mikazuki
231,Muroto-misakicho,33.2833,134.1500,Oota Ryokan
244,College,64.8569,-147.8028,Pike's Waterfront Lodge
329,Petra,30.3222,35.4793,Petra Palace Hotel
331,Terrace,54.5163,-128.6035,Northern Motor Inn
337,Union,40.6334,-74.2663,Homewood Suites by Hilton Newark-Cranford
350,North Platte,41.1239,-100.7654,Holiday Inn Express & Suites North Platte
369,Ketchikan,55.3422,-131.6461,Snows Cove Lodge
370,Ol'ga,43.7444,135.2892,Gostinitsa Rosmorport.
388,Haines Junction,60.7522,-137.5108,Parkside Inn
416,Wasilla,61.5814,-149.4394,Alaska's Select Inn Wasilla
539,Swan Hill,-35.3378,143.5544,Lazy River Motor Inn
550,Shache,38.4167,77.2406,Delong Hotel

In [24]:
# Marker information box
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
</dl>
"""
# Store the DataFrame Row for the markers
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [30]:
# Add marker layer ontop of heat map and display
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# plot heatmap
map_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}
# Use the gmaps.figure passing a zoom_level of 2 and a center point so the map displays properly at a readable size
fig = gmaps.figure(layout=map_layout,zoom_level=2,center=(15,25))
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations_df, weights=weight_df, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.5)

fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…